@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #139054;
  --primary-foreground: #f8fafc;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #64748b;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: #e2e8f0;
  --input: #fff;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: #f7f8fa;
  --sidebar-foreground: #262b5e;
  --sidebar-font: #666f8d;
  --sidebar-font-accent: ##ffffff;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --config-background: #f4f6fa;
  --custom-node-gray: #666f8d;
  --separator: #f0f2f5;
  --table-data: #101828;
  --table-background: #fcfcfd;
  --selection-orange: #fef7f1;
  --titleColor: #1976d2;
  --sectionTitleColor: #d84315;
  --relationTitleColor: #388e3c;
  --tools-handle: #992ffc;
  --tools-handle-boundary: #e3c4ff;
  --connection-handle: #276cf5;
  --connection-handle-boundary: #a9c6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-font: var(--sidebar-font);
  --color-sidebar-font-accent: var(--sidebar-font-accent);
  --color-config-background: var(--config-background);
  --color-custom-node-gray: var(--custom-node-gray);
  --color-separator: var(--separator);
  --color-table-data: var(--table-data);
  --color-table-background: var(--table-background);
  --color-selection-orange: var(--selection-orange);
  --color-titleColor: var(--titleColor);
  --color-sectionTitleColor: var(--sectionTitleColor);
  --color-relationTitleColor: var(--relationTitleColor);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: source-serif-pro,"Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
  }
}

.react-sigma-control svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.animate-shimmer {
  animation: shimmer 1.2s linear infinite;
}

.leftPanel{
  background-color: #fbfbfb;
}

/* markdown reset */
.markdown-reset,
.markdown-reset * {
  all: revert;
}

.container{
  background: #f5f6f8;
  border:1px solid #f9f9f9;
}

.main{
  background: #fff;
  border-radius: 15px;
  border: 3px solid #fff;
}

.mainPanel{
  overflow: scroll;
  height: calc(100vh - 100px);
}

.fixedPanel {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.menuButtons{
  background-color: #194c79;
  width: 65px;
  height: calc(100vh - 100px);
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #000;
}

.menuButtons li:hover .segments_text{
  color:#fff;
}

.menuButtons li:hover .segments_text div{
  color: #abbbca;
}

li:hover .activeNumber {
  color: #fff;
}

.bg-background {
 background-color: #f9f9f9;
}

.arc_text{
  width: 8px;
  height: 15px;
  margin-top: 100px;
  rotate: -90deg;
  color:#d1dbe5;
  margin-left: 10px;
  font-weight: 300;
  line-height: 22px;
  font-size: 16px;
}

.searchBox {
  background-color: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
  height: 40px;
  width: 150px;
  border: 0px;
  outline:none;
}

.searchBox:active{
  outline: none;
} 

.divider{
  border-top: 1px solid #5b7998;
  width: 52px;
  height: 0px;
  margin-top: 37px;
  margin-left: 7px;
}

.studies{
  background:url(http://localhost:3000/images/2429310.svg) no-repeat left top;
  background-size: contain;
  width: 62px;
  height: 50px;
  rotate: -90deg;
  color:#a8a8a8;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plusButton{
    color: #656565;
    background-color: #f4f4f4;
    border: 2px solid #eeeeee;
    width: 1px;
    height: 15px;
    font-size: 18px;
    font-weight: 200;
    width: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.m-top-20{
  margin-top:20px;
  margin-bottom:10px;
}

.featureHeading{
    font-size: 17px;
    font-weight: 200;
    margin-top: 20px;
    text-align: left;
    color: #2f3439;
}

.selectedHighlight{
background:oklch(0.94 0.03 131.36);
}

.sectionHeading {
   font-size:16px; 
   font-weight:500;
   margin-top:10px;
   padding-bottom:10px;
   text-align: left;
   color:#404040;
}

.border-1-bottom{
  border-bottom:1px solid #e6e6e6;
  padding-bottom:10px;
}

.chartHeading{
   font-size:20px; 
   font-weight:400;
   margin-top:20px;
   text-align: left;
   color: #000000;
}

.segmentHeading {
   font-size:32px; 
   font-weight:100;
   margin-top:20px;
}
*, ::after, ::before, ::backdrop, ::file-selector-button{
  box-sizing: unset!important;
}

.illustrationIcon {
  width:50px;
  height:50px;
  background-size:auto;
}

.personaIcon{
  width:50px;
  height:50px;
  background-size:auto;
  border-radius: 50%;
}

.studyIcon {
  width:50px;
  height:50px;
  background-size:auto;
  border-radius: 50%;
  background-color: #ffd598;
}

.illustration1{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon1.png) no-repeat 0px 0px;
  width:50px;
  height:50px;
  background-size:contain;
}

.illustration2{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon2.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration3{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon3.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration4{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon4.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration5{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon5.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration6{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon6.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.standard-chart{
  max-width: 700px;
}


.chatTextBox {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 15px;
  padding:10px;
}




.css-1wle3ir-MuiTypography-root, .css-956xpl-MuiTypography-root {
    font-family: unset!important;
    font-weight: unset!important;
    font-size:unset!important;
    line-height: unset!important;
    letter-spacing: unset!important;
    color: unset!important;
}

.projectPanel *{
  font-size: 16px;
}

.projectPanel > .css-1j74uew-MuiPaper-root-MuiCard-root{
  background:#f0eee9;
  height: 100%;
}

.cardPanel{
  width: 80%;
}

.card{
  background-color: #fff;
  padding:0px 20px 0px 20px;
  overflow-y: scroll;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px #e5e5e5;
  width: 100%;
  font-size: 14px;
  height: 240px;
}

.cardLong{
  min-height: 800px;
  width: 100%;
  margin-left: 10px;
}

.width-30{
  width: 32%;
}




.MuiTreeItem-label MuiSimpleTreeView-itemLabel {
  font-size: 18px!important;
}

.css-1mbxq6w-MuiTreeItem-label{
  font-size: 16px!important;
  padding: 3px;
  font-family: unset!important; 
  font-weight: unset!important;
}

.flexStart{
  justify-content: flex-start!important;
}

.css-jq3mgl-MuiTreeItem-root{
  width: 100%;
}

.codeBlock{
  background:rgb(245 245 245);
  border:1px solid rgb(228 228 228);
  padding:10px;
}

.textInfo{
  font-size:16px;
  border-radius:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #f4f4f4;
  width: 100%;
  box-sizing: border-box;
  padding:4px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  inline-size: 98%;  
}

.textInfo ul{
  overflow: hidden;
  inline-size: 97%;  
}

.codeEditor{
  background-color:#000;
  padding:10px;
  box-sizing:border-box;
  height:132px; 
  color:#fff;
  border-radius:10px;
  border: 0px;
  width: 100%;
  font-size:16px;
  font-weight: 100;
}

.margin-top-20{
  margin-top:20px;
}

.margin-5{
  margin:5px;
}