@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #139054;
  --primary-foreground: #f8fafc;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #64748b;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: #e2e8f0;
  --input: #fff;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: #f7f8fa;
  --sidebar-foreground: #262b5e;
  --sidebar-font: #666f8d;
  --sidebar-font-accent: ##ffffff;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --config-background: #f4f6fa;
  --custom-node-gray: #666f8d;
  --separator: #f0f2f5;
  --table-data: #101828;
  --table-background: #fcfcfd;
  --selection-orange: #fef7f1;
  --titleColor: #1976d2;
  --sectionTitleColor: #d84315;
  --relationTitleColor: #388e3c;
  --tools-handle: #992ffc;
  --tools-handle-boundary: #e3c4ff;
  --connection-handle: #276cf5;
  --connection-handle-boundary: #a9c6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-font: var(--sidebar-font);
  --color-sidebar-font-accent: var(--sidebar-font-accent);
  --color-config-background: var(--config-background);
  --color-custom-node-gray: var(--custom-node-gray);
  --color-separator: var(--separator);
  --color-table-data: var(--table-data);
  --color-table-background: var(--table-background);
  --color-selection-orange: var(--selection-orange);
  --color-titleColor: var(--titleColor);
  --color-sectionTitleColor: var(--sectionTitleColor);
  --color-relationTitleColor: var(--relationTitleColor);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: source-serif-pro,"Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
  }
}

.react-sigma-control svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.animate-shimmer {
  animation: shimmer 1.2s linear infinite;
}

/* markdown reset */
.markdown-reset,
.markdown-reset * {
  all: revert;
}

.container{
  background: #f5f6f8;
  border:1px solid #f9f9f9;
}

.main{
  background: #fff;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
  height: 90vh;
}

.menuButtons{
  background-color: #194c79;
  width: 65px;
  height: 100%;
  border-radius: 15px 0px;
  border: 1px solid #000;
}

.bg-background {
 background-color: #f9f9f9;
}

.segments{
  background:url(http://localhost:3000/images/users-267.svg) no-repeat left top;
  background-size: contain;
  width: 60px;
  height: 40px;
  rotate: -90deg;
  color:#a8a8a8;
}

.segments_text{
  width: 8px;
  height: 15px;
  margin-top: 124px;
  rotate: -90deg;
  color:#abbbca;
  margin-left: 10px;
  font-weight: 100;
  font-size: 18px;
}

.segments_text div {
  width: 100px;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  text-transform: lowercase;
  line-height: 12px;
}

.listHeading{
  font-weight: 400;
}

.studies_text{
  width: 8px;
  height: 15px;
  margin-top: 90px;
  rotate: -90deg;
  color:#abbbca;
  margin-left: 10px;
  font-weight: 200;
  font-size: 18px;
}

.studies_text div {
  width: 100px;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  text-transform: lowercase;
  line-height: 14px;
}

.activeNumber {
  font-size: 20px;
  font-weight: 500;
  color:#abbccb;
}

.activities{
  background:url(http://localhost:3000/images/bolt-lightning-svgrepo-com.svg) no-repeat left top;
  background-size: contain;
  width: 60px;
  height: 40px;
  rotate: -90deg;
  color:#a8a8a8;
}


.personas{
  background:url(http://localhost:3000/images/head-side-view-black-silhouette-of-male-bald-shape-svgrepo-com.svg) no-repeat left top;
  background-size: contain;
  width: 60px;
  height: 40px;
  rotate: -90deg;
  color:#a8a8a8;
}

.searchBox {
  background-color: #f9f9f9;
  border-radius: 20px 20px 20px 20px;
  height: 40px;
  width: 300px;
}

.searchBox:active{
  outline: none;
} 

.divider{
  border-top: 1px solid #5b7998;
  width: 52px;
  height: 0px;
  margin-top: 37px;
  margin-left: 7px;
}

.studies{
  background:url(http://localhost:3000/images/2429310.svg) no-repeat left top;
  background-size: contain;
  width: 62px;
  height: 50px;
  rotate: -90deg;
  color:#a8a8a8;
}

.featureHeading{
   font-size:24px; 
   font-weight:100;
   margin-top:20px;
}

.segmentHeading {
   font-size:32px; 
   font-weight:100;
   margin-top:20px;
}
*, ::after, ::before, ::backdrop, ::file-selector-button{
  box-sizing: unset!important;
}

.illustrationIcon {
  width:50px;
  height:50px;
  background-size:auto;
}

.illustration1{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon1.png) no-repeat 0px 0px;
  width:50px;
  height:50px;
  background-size:contain;
}

.illustration2{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon2.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration3{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon3.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration4{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon4.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration5{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon5.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}

.illustration6{
  background-position: 0px 0px;
  background:url(http://localhost:3000/images/icon6.png) no-repeat 0px 0px;
   width:50px;
  height:50px;
  background-size:contain;
}